.MargenSuperior
{
    margin-top: 100px;
}

.Mensajes
{
    text-align:center;
    font-size: 11pt;
}

.AlineacionOpciones
{
    margin-right: 18px !important;
}

.AlineacionOpcionesSalir{
    background-color:transparent;
    border-color:transparent;
}